# Dependencies
node_modules/

# Build
dist/
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.local

# Tauri
src-tauri/WixTools/
